@charset "UTF-8";

header {
    height: 30vh
}
#main_wrapper {
margin-top: 5px;
background-color: #000000;
padding-bottom: 67px;
}

.breadcrumb a{
    color: #fff;
}

.breadcrumb> span{
    margin: 0 3px;
    font-size: 0.75rem;
}



form{
    padding: 0 150px;
}

.form_contents{
    padding: 30px;
    text-align: center;
    display: flex;
}

label{
    font-size: 1.25rem;
    margin-bottom: 10px;
}

/* text */

input{
    margin-bottom: 30px;
}


.form_input {
    height: 2.4em;
    width: 100%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.form_input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c09932 inset;
}


/* textarea */


.form_item_textarea textarea {
    height: 300px;
}

.form_textarea {
    display: block;
    width: 100%;
    padding: 4px 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: vertical;
    resize: none;
}

.form_textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #c09932 inset;
}
.protocol{
    margin: 50px;
    line-height: 1rem;
    

}


.protocol p a{
    color: #fff;
    text-decoration: underline;
}

/* submit */

.form_submit {
    display: inline-block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid transparent;
}

.form_submit:hover {
    background-color: #484848;
}

.form_submit:focus {
    outline: 0;
    background-color: #414040;
    border: 2px solid #c09932;
}

.alert {
    color: #ED220C;
    font-size: 0.75rem;
    margin: 5px 0;
}



/* -------------------------------------------------------- */


@media screen and (max-width:480px){ 
	/*画面幅が480px以下になったら適用*/


    header {
        position: relative;
        height: 10vh;
    }

    
    /* main */
    #main_wrapper{
        margin-top: 80px;
        background-color: #000000;
        padding-bottom: 67px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        padding: 0 20px;
    }
    
    .protocol{
        display: flex;
        flex-direction: column-reverse;

    }
    
    /* main_visual */
    
	/*レスポンシブデザインここまで*/
}
